JSIGHT 0.3

POST /users // Create a user
  Request 
    @user
  200
    Headers
      {
        "x-header-b": "any string"
      }
    Body
      "OK"

TYPE @user
{
  "id": 1,
  "login": "tom",
  "name": "John" // {optional: true}
}