JSIGHT 0.3

INCLUDE jsight-server-api.jst
INCLUDE all-features-test.jst

GET /hello-world
  200
    "Hello, world!"

POST /check-jdoc-exchange-200k
  Request
    @jdocExchange
  200
    @jdocExchange

POST /check-jdoc-exchange-1m
  Request
    @jdocExchange
  200
    @jdocExchange